:root {
    --white: #ffffff;
    --lightgray: #a0a0a0;
    --darkgray: #696969;
    --transparent: #00000000;
    --main: #101917;
    --header: #00684c;
    --comments: #2d403b;
    --searchbar: #ffffff;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    font-family: Arial;
    color: var(--white);
    margin: 0;
    padding: 0;
}

p {
    color: var(--lightgray);
}

body {
    background-color: var(--header);
    padding: 0;
    margin: 0;

}

header {
    background-color: var(--header);
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 4em;
    max-width: 100%;
}

.header-container {
    text-align: center;
    position: relative;
    height: 100%;
    max-width: 100%;
}

.header-container > .header-left {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header-container > .header-left > div {
    display: flex;
    height: 100%;
}
.header-container > .header-center {
    display: inline-block;
    width: min(max(33%, 30em), 100% - 10em);
    height: 100%;
}
.header-container > .header-center > div {
    height: 100%;
    width: 100%;
    position: relative;
}

.main-logo-link {
    text-decoration: none;
    height: 100%;
}
.main-logo-link > div {
    height: 3em;
    margin-top: .5em;
    display: flex;
}

.main-logo-image {
    max-height: 100%;
    margin-left: 1.5em;
}

.search-bar {
    height: 3em;
    width: 100%;
    position: absolute;
    
    margin-top: .5em;
    background: var(--searchbar);
    display: flex;
}


.search-field {
    width: 100%;
    height: calc(100% - 2px);
    margin: 1px;
    background: var(--header);
    box-shadow:none;
    text-shadow:none;
    border:none;
    font-size: large;
    color: var(--searchbar);
    padding-left: 1em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.search-button {
    background-color: var(--transparent);
    border: none;
    height: 100%;
    padding: .7em;
    margin: 0;
}

.search-image {
    height: 100%;
}

body, html {
    height: 100%;
}

.search-main-content {
    padding: 1.5em;
    padding-top: 5.5em;
    background: var(--main);
    min-height: calc(100% - 7em);
    display: flex;
    gap: 1.5em;
}

.search-videos-container-wide {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.search-videos-container {
    background: var(--comments);
    width: min(100%, 60em);
    padding: 1em;
}











* {
    font-family: Arial;
    text-decoration: none;
}

a > * {
    margin: 0;
    padding: 0;
}

.search-video-left-container {
    float:left;
    width: min(50%, 22em);
    padding-right: 1em;
}

.search-video-right-container {
    margin-left: 0;
}
.child {
    width: 100%;
}

.search-video-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.search-video-length {
    position: absolute;
    font-family: Arial;
    bottom: 0.45em;
    right: 0.25em;
    background-color: #000000C0;
    padding: 0.25em;
    font-size: .8em;
    border-radius: 0.25em;
}

.search-video-thumbnail-wrapper {
    width:100%;
    justify-content: end;
    z-index: 0;
}

.search-video-thumbnail-container{
    display: grid;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}
  
.search-video-length-wrapper, .search-video-thumbnail-wrapper {
    grid-column: 1;
    grid-row: 1;
}

.search-video-length-wrapper {
    z-index: 1;
    position: relative;
}

.search-video-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 3em;
    word-wrap: break-word;
    max-width: 100%;
}



.search-video-avatar {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 1em;
}

.search-channel-info {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-channel-info > div > * {
    margin: 0;
    padding: 0;
}

.search-video-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    max-height: 3em;
    word-wrap: break-word;
    
}

.search-video-container {
    width: 100%;
    overflow: hidden; 
    margin-bottom: 1em;
}

@media only screen and (max-width: 60em) {
    .search-main-content {
        padding: 0;
        padding-top: 4em;
    }
    .search-video-description {
        height: 0;
    }
    .search-channel-info {
        margin-top: 0;
        margin-bottom: 0;
    }
    .search-video-avatar {
        width: 2em;
        height: 2em;
    }
}

@media only screen and (max-width: 30em) {
    h1, h2, h3, p {
        font-size: .9em;
    }
    .main-logo-image {
        margin-left: .5em;
    }
    .header-container > .header-center {
        width: min(max(33%, 30em), 100% - 8em);
    }
    .main-content {
        padding: .5em;
        padding-top: 4.5em;
    }
    .search-videos-container {
        padding: .5em;
    }

    .search-video-avatar {
        margin-right: .5em;
    }
    .search-video-left-container {
        padding-right: .5em;
    }
}